body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: "Director";
  font-weight: bold;
}
